// headings
@mixin heading() {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 80px;
	line-height: 80px;
	font-style: normal;
	letter-spacing: 0.03rem;
	color: $color-primary;
	text-transform: uppercase;
}

@mixin heading-2() {
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-style: normal;
	letter-spacing: 0.03rem;
	color: $color-primary;
	text-transform: uppercase;
}

@mixin heading-3($font-26: false) {
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	line-height: 32px;
	font-style: normal;
	letter-spacing: 0.03rem;
	color: $color-primary;
	text-transform: uppercase;

	@if $font-26 {
		font-size: 26px;
	}
}

@mixin heading-4() {
	font-family: $font-inter;
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
	font-style: normal;
	letter-spacing: 0.03rem;
	color: $color-primary;

	&:first-letter {
		text-transform: uppercase;
	}
}

@mixin heading-5($capitalized: true) {
	font-family: $font-inter;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	font-style: normal;
	letter-spacing: 0.03rem;

	@if $capitalized {
		&:first-letter {
			text-transform: uppercase;
		}
	}
}

@mixin supporting-heading() {
	font-family: $font-inter;
	font-weight: 700;
	letter-spacing: 0.03rem;
	color: $color-primary;
	text-transform: uppercase;
}


// text
@mixin larger-text() {
	font-size: 20px;

	&:first-letter {
		text-transform: uppercase;
	}
}

@mixin smaller-text() {
	font-size: 12px;

	&:first-letter {
		text-transform: uppercase;
	}
}

// buttons
@mixin button-primary($short: false) {
	all: unset;
	padding: $whitespace-sm $whitespace-lg;
	border-radius: $border-radius;
	background: $color-secondary-3;
	color: $color-text-light;
	font-family: $font-inter;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.03rem;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	transition: all $transition;

	&:hover {
		background: $color-secondary-dark;
	}

	&:active {
		background: $color-secondary-3;
	}

	&:focus-visible {
		outline: 0.15rem solid $color-primary;
	}

	@media (min-width: $screen-md) {
		padding: $whitespace-xxs $whitespace-md;
	}

	@if $short {
		padding: $whitespace-step $whitespace-md !important;
	}
}

@mixin button-link() {
	all: unset;
	border-bottom: 1px solid transparent;
	cursor: pointer;
	transition: all 100ms;

	&:hover {
		color: $color-text-2;
		border-bottom: 1px solid $color-text-2;
	}

	&:active {
		color: $color-text;
		border-bottom: 1px solid $color-text;
	}
}

// misc
@mixin input($button: false) {
	all: unset;
	height: fit-content;
	padding: $whitespace-step $whitespace-sm;
	border-radius: $border-radius;
	background: $color-secondary-light;
	font-family: $font-inter;
	font-weight: 400;
	line-height: normal;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	transition: all $transition;

	&:focus-visible {
		outline: 0.15rem solid $color-primary;
	}

	@if $button {
		padding: 0 calc($whitespace-xxs + 2px);
		color: rgba($color-text, 0.7);
		font-size: 1.5rem;
		line-height: 1.95rem;

		&:hover {
			filter: brightness(0.95);
			color: $color-text;
		}
	}
}
