// colors
$color-primary: #386fa4;
$color-primary-2: #b0e0e6;
$color-primary-hover: #3c3ca5;
$color-primary-light: #ceceff;
$color-secondary: #007ba7;
$color-secondary-2: #b0c4de;
$color-secondary-3: #008080;
$color-secondary-4: #4682b4;
$color-secondary-5: #4c956c;
$color-secondary-dark: #2b4141;
$color-secondary-light: #e8f1f8;
$color-error: #d52c2c;
$color-warning: #ffba08;
$color-warning-2: #fff0bd;

$color-text: #1e1e1e;
$color-text-2: #100b00;
$color-text-light: #fff;
$color-border: #e6e6e6;

$light-gray: #dedede;
$medium-gray: #898b8d;
$gray: #6a6a6a;

//fonts
$font-inter: 'Inter', sans-serif;

//whitespaces
$whitespace-step: 4px;
$whitespace-xxs: $whitespace-step * 2; //8px
$whitespace-xs: $whitespace-step * 3; //12px
$whitespace-sm: $whitespace-step * 4; //16px
$whitespace-md: $whitespace-step * 6; //24px
$whitespace-lg: $whitespace-step * 8; //32px
$whitespace-xl: $whitespace-step * 12; //48px
$whitespace-xxl: $whitespace-step * 16; //64px
$whitespace-xxxl: $whitespace-step * 20; //80px

// screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1440px;

// misc
$border-radius: 8px;
$border-radius-sharp: 4px;
$transition: 150ms ease;
$transition-short: 100ms ease;
